[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
amqp = "*"
celery = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
celstash = "*"

[requires]
python_version = "3.7"
